

p {
    font-family: serif;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
}
a:hover {
    color: rgba(165, 42, 42, 0.315);
    text-decoration: underline;
}
a:visited {
    color: rgba(0, 0, 255, 0.203);
}
body {
    width: 90%;
    height: auto;
    border: 1px solid #FF0000;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    max-width: 90%;
    background: linear-gradient(to bottom, ##87CEEB, #4682B4);
    background-image: url(https://img.freepik.com/photos-gratuite/bricolage-simple-fond-papier-beige_53876-132916.jpg);
    background-repeat: no-repeat;
    background-position: bottom :right;
    background-size: cover;
}
blockquote {
    width: 50%;
    margin: 80px auto;
    padding-left: 30px;
    border-left: 3px solid Firebrick;
    background-color: #F5F5F5;
    text-align: justify;
}
blockquote p {
    font-size: 160%;
    margin: 30px 0;
}
q {
    font-style: italic;
}
.v {
    border-left-color: green;
}
.f {
    border-left-color: red;
}
header {
    background-color: yellow;
}
span.Good {
    color: green;
}
span.Bad {
    color: red;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table tr:nth-child(even) {
    background-color: gray;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table td {
    border: 1px solid #ccc;
    padding: 8px;
}
.good {
    background-image: url("https://raw.githubusercontent.com/becodeorg/Swartz-8/main/1.The-Field/8.Html-CSS/progressive-enhancement/bien.png");
    padding-right: 20px;
}
.wrong {
    background-image: url("https://raw.githubusercontent.com/becodeorg/Swartz-8/main/1.The-Field/8.Html-CSS/progressive-enhancement/mal.png");
    padding-right: 20px;
}
.chat {
    background-image: url("https://raw.githubusercontent.com/becodeorg/Swartz-8/main/1.The-Field/8.Html-CSS/progressive-enhancement/chat.png");
    padding-right: 20px;
}
.premier {
    font-weight: bold;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
