

p {
    font-family: serif;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
}
a:hover {
    color: rgba(165, 42, 42, 0.315);
    text-decoration: underline;
}
a:visited {
    color: rgba(0, 0, 255, 0.203);
}
body {
    width: 90%;
    height: auto;
    border: 1px solid #FF0000;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    max-width: 90%;
    background: linear-gradient(to bottom, ##87CEEB, #4682B4);
    background-image: url(https://cdn-images-1.medium.com/max/1000/1*2PCmLZyzQaF2pyKYkSTFpA.jpeg)
    background-image: url ()
    background-image:
}
